/* Body */
body{
    height: 300vh;
}
.gradient-background {
    background: linear-gradient(300deg, #fff, #a6a6a6, #fff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/* Fonts */
.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: 'Major Mono Display', 'Caveat';
    text-align: center;
}

h3{
    font-family: 'Ubuntu Mono';
}

.title > p{
    text-align: center;
}


/* Navigation Bar */
.navbar {
    background-color: transparent;
}
.nav-item{
    font-family: 'Ubuntu Mono';
    text-transform: uppercase;
    font-size: 1.3rem;

}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex
;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Project Card */
.project-card{
    width: 400px;
    height: 200px;
    background-color: #fff;
    border: #a6a6a6;
    border-radius: 10px;
    box-shadow: #000;
}

/* Body Flexbox on Projects */
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Contact details */
.message {
    height: 300px;
}

.contact-details{
    display:flex;
    flex-direction: column;
    gap: 10px;
    
    max-width: 500px;
    min-height: 30px;
    
    border: 2px solid black;
}

